.main {
	background-color: white;
	padding: 5em;
	padding-bottom: 1.1em;
	border-radius: 15px;
	margin: 1em;
  }
  
  .loader {
	display: flex;
	flex-direction: row;
	height: 4em;
	padding-left: 1em;
	padding-right: 1em;
	transform: rotate(180deg);
	justify-content: right;
	border-radius: 10px;
	transition: .4s ease-in-out;
  }
  
  .loader:hover {
	cursor: pointer;
	background-color: lightgray;
  }
  
  .currentplaying {
	display: flex;
	margin: 1em;
  }
  
  .spotify {
	width: 50px;
	height: 50px;
	margin-right: 0.6em;
  }
  
  .heading {
	color: black;
	font-size: 1.1em;
	font-weight: bold;
	align-self: center;
  }
  
  .loading {
	display: flex;
	margin-top: 1em;
	margin-left: 0.3em;
  }
  
  .load {
	width: 2px;
	height: 33px;
	background-color: limegreen;
	animation: 1s move6 infinite;
	border-radius: 5px;
	margin: 0.1em;
  }
  
  .load:nth-child(1) {
	animation-delay: 0.2s;
  }
  
  .load:nth-child(2) {
	animation-delay: 0.4s;
  }
  
  .load:nth-child(3) {
	animation-delay: 0.6s;
  }
  
  .play {
	position: relative;
	left: 0.35em;
	height: 1.6em;
	width: 1.6em;
	clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
	background-color: black;
	transform: rotate(-90deg);
	align-self: center;
	margin-top: 0.7em;
	justify-self: center;
  }
  
  .albumcover {
	position: relative;
	margin-right: 1em;
	height: 40px;
	width: 40px;
	background-color: rgb(233, 232, 232);
	align-self: center;
	border-radius: 5px;
  }
  
  .song {
	position: relative;
	transform: rotate(180deg);
	margin-right: 1em;
	color: black;
	align-self: center;
  }
  
  .artist {
	font-size: 0.6em;
  }
  
  @keyframes move6 {
	0% {
	  height: 0.2em;
	}
  
	25% {
	  height: 0.7em;
	}
  
	50% {
	  height: 1.5em;
	}
  
	100% {
	  height: 0.2em;
	}
  }





:root {
	--default-green: #1db954;
	--light-green: #1ed760;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
}

/* Utility Classes */
.btn-primary {
	background: var(--default-green);
	color: white;
	text-transform: uppercase;
	padding: 15px 60px;
	border: none;
	border-radius: 30px;
	letter-spacing: 1px;
	font-weight: bold;
	transition: all 300ms ease;
}

.btn-primary:hover {
	background: var(--light-green);
	cursor: pointer;
}

.logo {
	height: 40px;
	width: auto;
}

/* Navbar */
#navbar {
	display: flex;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100%;
}

#navbar .navbar-container {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

#navbar .navbar-container ul {
	display: flex;
	list-style: none;
	font-weight: bold;
}

#navbar .navbar-container ul li {
	padding: 0 20px;
	transition: all 300ms ease;
}

#navbar .navbar-container ul li:hover {
	color: #1db954;
	cursor: pointer;
}

#navbar .navbar-container ul li:nth-child(3) {
	border-right: 1px solid white;
}

/* Showcase */
#showcase {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background: url("/img/showcase.webp") center center/cover;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: color;
}

#showcase .showcase-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#showcase .showcase-container h2 {
	font-size: 5rem;
}

#showcase .showcase-container p {
	margin: 15px 0;
	font-size: 1.1rem;
}

/* Footer */
#footer {
	background: black;
	color: white;
	padding: 80px 0;
}

#footer .footer-content {
	display: flex;
	width: 60%;
	margin: auto;
	justify-content: space-between;
}

#footer .footer-content .footer-menu {
	margin: 0 60px;
	list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
	margin: 25px 0;
	transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
	color: var(--default-green);
	cursor: pointer;
}

#footer .footer-content .footer-menu p {
	font-weight: bold;
	text-transform: uppercase;
	color: #919496;
	font-size: 0.8rem;
}

/* Footer Socials */
.socials {
	display: flex;
}

.socials i {
	margin: 0 20px;
	font-size: 1.7rem;
	transition: all 300ms ease;
}

.socials i:hover {
	color: var(--default-green);
	cursor: pointer;
}

/* Footer Info */
.footer-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 60%;
	margin: auto;
	font-weight: bold;
	color: #919496;
	font-size: 0.75rem;
	padding-top: 50px;
}

.footer-info .footer-info-items {
	display: flex;
	list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
	margin: 0 10px;
	transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover {
	color: var(--default-green);
	cursor: pointer;
}

.footer-info .rights .country {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 10px;
}

.footer-info .rights .country p {
	transition: all 300ms ease;
}

.footer-info .rights .country p:hover {
	color: var(--default-green);
	cursor: pointer;
}

.footer-info .rights .country .brazil-flag {
	height: 20px;
	width: auto;
	display: inline-block;
	margin-left: 10px;
}
